.content {  
  /* max-width: 720px;   */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 720px;
}

.content__title {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;

  width: 100%;
  background-color: lightgrey;
  padding: 15px 30px;
  margin-bottom: 10px;
}
